#coffee_story .page_content {
  width: 588px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px; }
  @media (max-width: 575px) {
    #coffee_story .page_content {
      margin-bottom: 32px; } }

#coffee_story h1 {
  text-align: center;
  color: #000;
  font-size: 24px;
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 12px; }
  #coffee_story h1:after {
    position: absolute;
    content: '';
    width: 24px;
    height: 3px;
    left: calc(50% - 12px);
    bottom: 0;
    background: #E57905; }
  @media (max-width: 767px) {
    #coffee_story h1 {
      font-size: 20px; } }

#coffee_story .layout_wrap {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }

#coffee_story .sidebar {
  flex: 0 0 30%;
  align-self: flex-start;
  position: sticky;
  top: 90px; }
  #coffee_story .sidebar .sidebar_lv1 + .sidebar_lv1 {
    margin-top: 24px; }
  #coffee_story .sidebar .sidebar_lv1 h3 {
    color: #D46B08;
    margin-bottom: 16px; }
  #coffee_story .sidebar .sidebar_lv1 ul {
    padding-left: 0; }
    #coffee_story .sidebar .sidebar_lv1 ul li {
      margin-bottom: 16px; }
      #coffee_story .sidebar .sidebar_lv1 ul li a {
        cursor: pointer; }
        #coffee_story .sidebar .sidebar_lv1 ul li a:focus {
          color: #191919; }
        #coffee_story .sidebar .sidebar_lv1 ul li a.active {
          color: #D46B08; }

#coffee_story .page_header {
  margin: 32px 0 38px; }
  @media (max-width: 575px) {
    #coffee_story .page_header {
      margin: 24px 0; } }

#coffee_story .page_tabs {
  display: flex;
  justify-content: center;
  padding-left: 0; }
  #coffee_story .page_tabs li {
    padding: 0 12px; }
    #coffee_story .page_tabs li a {
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.15);
      width: 120px;
      height: 40px;
      transition: unset;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      border-radius: 30px;
      line-height: 40px; }
      #coffee_story .page_tabs li a:not(:hover) {
        color: rgba(0, 0, 0, 0.6); }
      #coffee_story .page_tabs li a.active {
        background: #fff7e6;
        color: #e57905;
        border-color: transparent; }
  @media (max-width: 575px) {
    #coffee_story .page_tabs {
      margin: 0 -12px;
      justify-content: flex-start;
      overflow-y: auto; }
      #coffee_story .page_tabs li {
        padding: 0 8px; } }

#coffee_story .featured_articles {
  margin-bottom: 92px; }
  @media (max-width: 767px) {
    #coffee_story .featured_articles {
      margin-bottom: 48px; } }

#coffee_story .coffee_story_article .article_content h3 {
  margin-bottom: 4px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box; }
  @media (max-width: 767px) {
    #coffee_story .coffee_story_article .article_content h3 {
      font-size: 16px; } }

#coffee_story .coffee_story_article .article_content .article_published_at {
  margin-bottom: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45); }

#coffee_story .coffee_story_article .article_img {
  overflow: hidden;
  margin-bottom: 16px;
  display: block; }
  #coffee_story .coffee_story_article .article_img .aspect-ratio {
    border-radius: 8px; }

#coffee_story .coffee_story_article .article_excerpt {
  margin-bottom: 4px; }

#coffee_story .coffee_story_article .article_hashtag {
  display: flex;
  padding-left: 20px;
  position: relative; }
  #coffee_story .coffee_story_article .article_hashtag:before {
    position: absolute;
    content: '';
    top: 3.5px;
    left: 0;
    width: 13px;
    height: 13px;
    background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.35833 1.22461L12.1327 2.05003L12.9576 7.82503L7.59558 13.187C7.48619 13.2964 7.33784 13.3578 7.18316 13.3578C7.02848 13.3578 6.88013 13.2964 6.77074 13.187L0.995743 7.41203C0.886385 7.30264 0.824951 7.15429 0.824951 6.99961C0.824951 6.84493 0.886385 6.69658 0.995743 6.58719L6.35833 1.22461ZM6.77074 2.46244L2.23299 6.99961L7.18316 11.9492L11.7203 7.41203L11.102 3.08078L6.77074 2.46244ZM8.00741 6.17478C7.78857 5.95586 7.66566 5.65898 7.66572 5.34945C7.66574 5.19618 7.69596 5.04442 7.75464 4.90283C7.81331 4.76124 7.89931 4.63259 8.0077 4.52423C8.1161 4.41588 8.24477 4.32993 8.38638 4.2713C8.52799 4.21268 8.67977 4.18252 8.83303 4.18254C9.14257 4.1826 9.43941 4.30561 9.65824 4.52453C9.87708 4.74344 9.99999 5.04032 9.99994 5.34986C9.99988 5.65939 9.87687 5.95623 9.65795 6.17507C9.43904 6.3939 9.14216 6.51681 8.83262 6.51676C8.52308 6.51671 8.22625 6.39369 8.00741 6.17478Z' fill='black' fill-opacity='0.6'/%3E%3C/svg%3E%0A") center/cover no-repeat; }
  #coffee_story .coffee_story_article .article_hashtag li a {
    font-size: 12px;
    padding-right: 10px;
    position: relative; }
    #coffee_story .coffee_story_article .article_hashtag li a:not(:hover) {
      color: rgba(0, 0, 0, 0.6); }
  #coffee_story .coffee_story_article .article_hashtag li:not(:last-child) > a:after {
    content: '';
    position: absolute;
    top: 6px;
    right: 4px;
    width: 2px;
    height: 2px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%; }
  #coffee_story .coffee_story_article .article_hashtag:not(.has_hashtag) {
    display: none; }

@media (max-width: 991px) {
  #coffee_story .coffee_story_article.featured_article_0 {
    margin-top: 12px;
    display: flex; }
    #coffee_story .coffee_story_article.featured_article_0 .article_img {
      padding-right: 8px;
      flex: 0 0 50%; }
    #coffee_story .coffee_story_article.featured_article_0 .article_content {
      padding-left: 8px;
      flex: 0 0 50%; } }

#coffee_story .coffee_story_article.article_loop {
  margin-bottom: 24px;
  display: flex; }
  #coffee_story .coffee_story_article.article_loop .aspect-ratio {
    padding-top: 56.4%; }
  #coffee_story .coffee_story_article.article_loop .article_img {
    flex: 0 0 41%;
    margin-bottom: 0; }
  #coffee_story .coffee_story_article.article_loop .article_content {
    flex: 0 0 59%;
    padding-left: 24px; }
  #coffee_story .coffee_story_article.article_loop .article_hashtag {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    #coffee_story .coffee_story_article.article_loop {
      flex-direction: column; }
      #coffee_story .coffee_story_article.article_loop .article_img {
        margin-bottom: 8px; }
      #coffee_story .coffee_story_article.article_loop .article_content {
        padding-left: 0; }
        #coffee_story .coffee_story_article.article_loop .article_content h3 {
          font-size: 16px; } }

#coffee_story .featured_article_1 .aspect-ratio {
  padding-top: 56.25%; }

#coffee_story .featured_article_0 .aspect-ratio {
  padding-top: 100%; }

@media (max-width: 767px) {
  #coffee_story .featured_article_0 .article_excerpt {
    display: none; } }

#coffee_story .blog {
  display: flex;
  flex-wrap: wrap; }
  #coffee_story .blog .featured_img {
    flex: 0 0 42%; }
  #coffee_story .blog .articles_wrap {
    flex: 1; }
    #coffee_story .blog .articles_wrap h2 {
      padding-left: 12px;
      border-left: 4px solid #E57905;
      margin-bottom: 24px; }
    @media (max-width: 991px) {
      #coffee_story .blog .articles_wrap {
        margin: 0 auto !important; } }
    @media (max-width: 767px) {
      #coffee_story .blog .articles_wrap {
        flex: 0 0 100%; } }
  #coffee_story .blog .view_more {
    text-align: center;
    margin-top: 40px; }
    #coffee_story .blog .view_more a {
      display: inline-block;
      padding: 9px;
      width: 280px;
      font-size: 16px;
      font-weight: 600;
      background: #fff;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.15); }
    @media (max-width: 767px) {
      #coffee_story .blog .view_more {
        margin-top: 0; }
        #coffee_story .blog .view_more a {
          width: 100%; } }
  #coffee_story .blog.blog_1 {
    background: #FFF7E6; }
    #coffee_story .blog.blog_1 + .blog_2 {
      margin-top: 112px; }
    #coffee_story .blog.blog_1 .featured_img {
      margin-top: -40px; }
    #coffee_story .blog.blog_1 .articles_wrap {
      padding: 40px 16px 40px 30px; }
    @media (max-width: 991px) {
      #coffee_story .blog.blog_1 {
        margin-bottom: 0; }
        #coffee_story .blog.blog_1 .articles_wrap {
          padding: 24px 16px; }
        #coffee_story .blog.blog_1 + .blog_2 {
          margin-top: 44px; } }
    @media (max-width: 767px) {
      #coffee_story .blog.blog_1 + .blog_2 {
        margin-top: 0; } }
  #coffee_story .blog.blog_2 {
    justify-content: flex-end;
    /*& + .blog_1 {margin-top: 92px;}*/ }
    #coffee_story .blog.blog_2 + .blog_1 {
      margin-top: 52px; }
    #coffee_story .blog.blog_2 .articles_wrap {
      margin-top: -60px;
      padding: 0 30px 40px 16px; }
    #coffee_story .blog.blog_2 .featured_img {
      margin: 40px 0 40px; }
    @media (max-width: 991px) {
      #coffee_story .blog.blog_2 .featured_img {
        order: -1;
        margin: 24px 0; }
      #coffee_story .blog.blog_2 .articles_wrap {
        padding: 0 16px 40px; } }
  @media (max-width: 991px) {
    #coffee_story .blog .featured_img {
      flex: 0 0 72%; } }

#coffee_story .blog_detail {
  padding-bottom: 30px; }
  #coffee_story .blog_detail .articles {
    flex: 0 0 70%;
    padding-right: 30px; }
    #coffee_story .blog_detail .articles .featured_article_1 {
      margin-bottom: 40px; }
    @media (max-width: 991px) {
      #coffee_story .blog_detail .articles {
        flex: 0 0 100%;
        padding-right: 0; } }
    @media (max-width: 767px) {
      #coffee_story .blog_detail .articles .article_loop {
        flex-direction: row;
        flex-wrap: wrap; }
        #coffee_story .blog_detail .articles .article_loop .featured_article_1 {
          margin-bottom: 32px; }
        #coffee_story .blog_detail .articles .article_loop h3 {
          flex: 0 0 100%;
          margin-bottom: 8px;
          font-size: 16px; }
        #coffee_story .blog_detail .articles .article_loop .article_img {
          flex: 0 0 50%;
          padding-right: 8px; }
        #coffee_story .blog_detail .articles .article_loop .article_content {
          flex: 0 0 50%;
          padding-left: 8px; }
        #coffee_story .blog_detail .articles .article_loop .aspect-ratio {
          padding-top: 100%; } }
  #coffee_story .blog_detail .page_pagination {
    margin-top: 16px; }
    #coffee_story .blog_detail .page_pagination #pagination .page-node {
      border-radius: 4px;
      width: 40px;
      height: 40px;
      line-height: 40px; }
    #coffee_story .blog_detail .page_pagination #pagination span.page-node.current,
    #coffee_story .blog_detail .page_pagination #pagination .page-node:hover {
      background: #fff;
      color: #ea8025;
      border: 1px solid #ea8025; }
    @media (max-width: 767px) {
      #coffee_story .blog_detail .page_pagination {
        flex: 0 0 100%;
        margin-top: 0; } }
  @media (max-width: 767px) {
    #coffee_story .blog_detail {
      padding-bottom: 20px; } }

#coffee_story.article-detail {
  padding: 24px 0 90px; }
  #coffee_story.article-detail .content_wrap {
    flex: 0 0 82%;
    padding-right: 30px; }
    @media (max-width: 991px) {
      #coffee_story.article-detail .content_wrap {
        flex: 0 0 100%;
        padding-right: 0; } }
  #coffee_story.article-detail .sidebar {
    flex: 0 0 18%; }
  #coffee_story.article-detail .blog-breadcrumb {
    margin-bottom: 16px;
    padding-left: 0; }
    #coffee_story.article-detail .blog-breadcrumb .breadcrumb > li + li:before {
      content: '/';
      color: rgba(0, 0, 0, 0.6); }
    #coffee_story.article-detail .blog-breadcrumb .active {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85); }
    #coffee_story.article-detail .blog-breadcrumb a {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6); }
    @media (max-width: 767px) {
      #coffee_story.article-detail .blog-breadcrumb {
        width: calc(100% + 30px);
        padding: 11px 16px;
        margin-left: -15px;
        margin-right: -15px;
        background: whitesmoke; }
        #coffee_story.article-detail .blog-breadcrumb li:last-child {
          display: none; } }
  #coffee_story.article-detail h1 {
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
    padding-bottom: 0; }
    #coffee_story.article-detail h1:after {
      display: none;
      font-size: 28px; }
  #coffee_story.article-detail hr {
    width: 100%;
    margin: 24px 0; }
    @media (max-width: 767px) {
      #coffee_story.article-detail hr {
        margin: 16px 0; } }
  #coffee_story.article-detail .article_published_at {
    margin-bottom: 8px;
    font-size: 12px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 1; }
  #coffee_story.article-detail .fb_comments {
    width: 100%; }
  #coffee_story.article-detail .related_articles {
    width: 95%; }
    #coffee_story.article-detail .related_articles h3 {
      font-size: 18px;
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.6); }
      @media (max-width: 767px) {
        #coffee_story.article-detail .related_articles h3 {
          width: 100%; } }
  #coffee_story.article-detail .content_up {
    margin-bottom: 27px; }
  #coffee_story.article-detail .content_down {
    display: flex;
    flex-wrap: wrap; }
    #coffee_story.article-detail .content_down .sidebar {
      flex: 0 0 12.5%;
      padding-bottom: 24px;
      order: -1; }
    #coffee_story.article-detail .content_down .article_tags {
      margin-top: 16px; }
      #coffee_story.article-detail .content_down .article_tags ul {
        padding: 0;
        display: flex; }
        #coffee_story.article-detail .content_down .article_tags ul li a {
          display: inline-block;
          border: 1px solid #E57905;
          border-radius: 8px;
          margin-right: 4px;
          color: #E57905;
          padding: 5px; }
    @media (max-width: 767px) {
      #coffee_story.article-detail .content_down .sidebar {
        order: unset;
        margin-top: 16px;
        padding-bottom: 0;
        position: static; }
        #coffee_story.article-detail .content_down .sidebar ul {
          display: flex;
          margin-bottom: 0; }
          #coffee_story.article-detail .content_down .sidebar ul li {
            margin-bottom: 0;
            margin-right: 28px; } }
  #coffee_story.article-detail .sharing {
    display: inline-block; }
    #coffee_story.article-detail .sharing svg {
      width: 24px;
      height: 24px; }
      @media (max-width: 767px) {
        #coffee_story.article-detail .sharing svg {
          width: 32px;
          height: 32px; } }
  #coffee_story.article-detail .main_content {
    flex: 0 0 87.5%; }
    @media (max-width: 767px) {
      #coffee_story.article-detail .main_content {
        flex: 0 0 100%; } }
  @media (max-width: 767px) {
    #coffee_story.article-detail {
      padding-top: 0; }
      #coffee_story.article-detail .article_loop {
        flex-direction: row;
        flex-wrap: wrap; }
        #coffee_story.article-detail .article_loop .featured_article_1 {
          margin-bottom: 32px; }
        #coffee_story.article-detail .article_loop h3 {
          flex: 0 0 100%;
          margin-bottom: 8px;
          font-size: 16px; }
        #coffee_story.article-detail .article_loop .article_img {
          flex: 0 0 50%;
          padding-right: 8px; }
        #coffee_story.article-detail .article_loop .article_content {
          flex: 0 0 50%;
          padding-left: 8px; }
        #coffee_story.article-detail .article_loop .aspect-ratio {
          padding-top: 100%; } }
